.header {
    display: flex;
    flex-direction: column;
}

.link1 {
    border-radius: 5px;
    margin: 2px;
    padding: 5px;
}

.link1:hover {
    cursor: pointer;
    background-color: #ffffff;
    transition: background-color 0.5s;
}

.link2 {
    border-radius: 5px;
    margin: 2px;
    padding: 5px;
}

.link2:hover {
    cursor: pointer;
    background-color: #ffffff;
    transition: background-color 0.5s;
}

.link3 {
    border-radius: 5px;
    margin: 2px;
    padding: 5px;
}

.link3:hover {
    cursor: pointer;
    background-color: #ffffff;
    transition: background-color 0.5s;
}

.link4 {
    border-radius: 5px;
    margin: 2px;
    padding: 5px;
}

.link4:hover {
    cursor: pointer;
    background-color: #ffffff;
    transition: background-color 0.5s;
}
