table {
    margin-left: auto;
    margin-right: auto;
}

th, td {
    border: 1px solid;
    text-align: center;
    background-color: white;
}

.headers {
    height: 50px;
}

tr {
    height: 70px;
}

.pagination {
    display: flex;
    justify-content: center;
}